* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color: #4b2e2e; 
}

body {
  background-color: #fcf8f3; 
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

header img {
  width: 80px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #4b2e2e;
  font-weight: bold;
}

nav .active a {
  color: #7b4f35; 
}

.main-heading {
  text-align: center;
  padding: 50px 20px;
}

.main-heading h1 {
  font-size: 2.5em;
  color: #4b2e2e;
}

.main-heading h2 {
  font-size: 1em;
  color: #7b4f35;
  margin-top: 10px;
}

.main-heading a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #7b4f35;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.manager-img {
  display: block;
  margin: 20px auto;
  width: 250px;
  border-radius: 10px;
  transition: transform 0.5s;
}

.manager-img:hover {
  transform: scale(1);
}


.workers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.worker {
  width: 200px;
  text-align: center;
}

.worker img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s;
}

.worker img:hover {
  transform: scale(1);
}


.about-location {
  margin-left: 440px;
  margin-top: 40px;
  text-align: center;
}

.about-location iframe {
  width: 100%;
  max-width: 900px;
  height: 300px;
  border: none;
  border-radius: 10px;
  display: block;

}

.menu {
  background-color: #fcf8f3;
  padding: 50px 20px;
  text-align: center;
}

.menu h2 {
  color: #4b2e2e;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.menu-item {
  background: #fff;
  padding: 20px;
  border-radius: 10px;

}

#contact-form {
  background-color: #f5eee6; 
  padding: 40px 20px;
  text-align: center; 
  display: flex;
  justify-content: center;
}

#contact-form form {
  max-width: 600px;
  width: 100%;
  background-color: #fff7f0;
  padding: 30px;
  border-radius: 10px;

}

#contact-form .form-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

#contact-form input,
#contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
}

#contact-form button.big-button {
  background-color: #6f4e37; 
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
}

#contact-form button.big-button:hover {
  background-color: #5a3b29;
}


.big-button {
  padding: 12px;
  background-color: #7b4f35;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #4b2e2e;
  color: white;
  padding: 30px 0;
  text-align: center;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.footer-links a {
  color: #f3e5d7;
  text-decoration: none;
  font-weight: bold;
}

footer p {
  font-size: 0.9em;
  color: #dcd2c3;
}
